<html>
<head>
    <title>Skills - <%= result[0].skill_name %></title>
</head>
<body>
<h1>Skills</h1>
<ul>
    <li>ID: <%= result[0].skill_id%></li>
    <li>Name: <%= result[0].name %></li>
    <li>Description: <%= result[0].description %></li>
</ul>
</body>

</html>
