<html>
<head>
    <title>Schools - <%= result[0].school_name %></title>
</head>
<body>
<h1>Schools</h1>
<ul>
    <li>Address: <%= result[0].address_id%></li>
    <li>Street: <%= result[0].street %></li>
    <li>Zip: <%= result[0].zip_code%></li>
</ul>
</body>

</html>